@model uksl.Models.RegisterViewModel
@{
    ViewBag.Title = "Реєстарція";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Створити новий акаунт</h4>*@
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <input type="checkbox" id="chkbGamer"/>
                <label>Я буду приймати участь в турнірах</label>
            </div>
        </div>
    </div>
    <div id="gamerFields" style="display:none">
        <div class="form-group">
            @Html.LabelFor(m => m.NickName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedUniversity, new { @class = "col-md-2 control-label" })
            <div class="col-md-10 ui-widget">
                <input id="university" class="form-control"/>
                @*@Html.TextBoxFor(m=>m.SelectedUniversity.Id,  new { @class = "form-control" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" id = "middleName">
            @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input type="checkbox" id="chkbMiddleName" />
                    <label>Підтверджую, по-батькові відсутнє</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*<input type="date" class="form-control" value="@Model.BirthDate"/>*@
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control date-picker", @readonly="readonly" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Зареєструватися" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/script/register.js")
}

   @* <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
@*<script>
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        
        $("#chkbGamer").click(function () {
            if ($(this).is(':checked')) {
                $("#gamerFields").show();
            }
            else {
                $("#gamerFields").hide();
            }
        });
    });
</script>*@